<% if (dnt) { %>
<p>Your privacy is important to us. We will not track you.</p>
<% } %>
<ul>
<% actions.forEach(function (action) { %>
<% if ((action === 'logout' || action === 'profile') && !username) return; %>
<% if (action === 'login' && username) return; %>
<li><a href="/<%= action %>"><%=: action| capitalize %></a></li>
<% }); %>
</ul>
