<% if (key) { %>
<p><em>Welcome to our most distinguished users!</em></p>
<% } %>
<form action="/register" method="post">
<input type="text" name="username" placeholder="Choose a username">
<input type="submit" name"register" value="Register">
</form>
